body {
  font-family: "TT Norms", "Arial", sans-serif;
  color: #353535;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  background-color: #ffffff; }

a {
  text-decoration: none; }

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  margin: -1px; }

.container {
  padding-left: 50px;
  padding-right: 50px; }

.btn {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.16px;
  border: none;
  border-radius: 3px; }
  .btn--search {
    width: 90px;
    height: 40px;
    color: #ffffff;
    background-color: #353535; }
    .btn--search:hover, .btn--search:focus {
      cursor: pointer;
      background-color: rgba(53, 53, 53, 0.8); }
  .btn--report {
    width: 81.4%;
    height: 40px;
    margin-bottom: 9px;
    color: #ffffff;
    background-color: #4990E2; }
    .btn--report:hover, .btn--report:focus {
      cursor: pointer;
      background-color: rgba(73, 144, 226, 0.8); }
  .btn--save {
    width: 90px;
    height: 40px;
    position: absolute;
    right: 10px;
    bottom: 9px;
    border: 1px solid #C1C1C1;
    background-color: transparent; }
    .btn--save:hover, .btn--save:focus {
      cursor: pointer; }

.header {
  padding-top: 30px; }

.header__search {
  width: 320px;
  padding-bottom: 15px; }

.header__search-label {
  display: block;
  padding-bottom: 21px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.16px;
  color: #8C8C8C; }

.header__search-input {
  margin-right: 16px;
  width: 210px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 12px;
  padding-right: 10px;
  border: 1px solid #E9E9E9; }

.header__search-btn {
  width: 90px;
  height: 40px;
  color: #ffffff;
  background-color: #353535; }
  .header__search-btn:hover, .header__search-btn:focus {
    cursor: pointer;
    background-color: rgba(53, 53, 53, 0.8); }

.report-filter {
  width: 65%;
  display: flex;
  flex-direction: column; }

.report-filter__period {
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  padding-left: 12px;
  margin-bottom: 20px; }

.report-filter__types {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 52px; }

.report-filter__type {
  margin-bottom: 12px; }
  .report-filter__type:last-child {
    margin-bottom: 0; }

.report-filter__radio + .report-filter__label {
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.16px;
  position: relative;
  padding-left: 30px; }
  .report-filter__radio + .report-filter__label::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 2px solid #C1C1C1; }

.report-filter__radio:checked + .report-filter__label::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  background-color: #4990E2; }

.device {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 35.5%  61.1%;
  gap: 30px;
  padding-bottom: 37px; }

.device__name {
  display: flex;
  padding-bottom: 30px; }
  .device__name img {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 20px; }
  .device__name h1 {
    padding-right: 35px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px; }

.device__column {
  position: relative; }

.device__info {
  list-style: none;
  padding: 20px 18px;
  border-radius: 5px;
  background-color: #F7F7F7; }
  .device__info li {
    padding: 3px; }

.device__label {
  color: #8C8C8C; }

.device__link {
  color: #4990E2; }

.report {
  margin-bottom: 106px;
  padding: 40px 40px 60px 40px;
  border: 1px dashed #939DA6;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); }

.report__header {
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 27px; }

.report__table {
  border-collapse: collapse; }
  .report__table td {
    padding-top: 20px;
    padding-bottom: 20px; }

.report__table-header {
  vertical-align: top; }

.report__th {
  padding-right: 20px;
  text-align: left;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: #939DA6; }

.report__data {
  vertical-align: top;
  padding-bottom: 15px;
  border-bottom: 1px dashed #E9E9E9; }

.report__date {
  width: 14.2%;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400; }

.report__solutions {
  width: 26.1%;
  padding-right: 20px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500; }

.report__list {
  list-style: none;
  display: flex;
  flex-direction: column; }

.report__indicators {
  width: 11.9%; }

.report__indicator {
  vertical-align: top;
  padding-right: 20px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400; }

.report__user {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400; }

/*# sourceMappingURL=style.css.map */
